In [22]:
import numpy as np

## DataTypes and Attributes

In [23]:
# NumPy's main datatype is ndarray 
a1 = np.array([1,2,3])
a1

array([1, 2, 3])

In [24]:
type(a1)

numpy.ndarray

In [25]:
a2 = np.array([
    [1,3,5.5],
    [4.5,7,8]
])
# 3-dimensional array, also referred to as a matrix
a3 = np.array([[[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]],
                [[10, 11, 12],
                 [13, 14, 15],
                 [16, 17, 18]]])

In [26]:
a2

array([[1. , 3. , 5.5],
       [4.5, 7. , 8. ]])

In [27]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [28]:
a1.shape

(3,)

In [29]:
a3.shape

(2, 3, 3)

In [30]:
a1.dtype, a2.dtype, a3.dtype

(dtype('int64'), dtype('float64'), dtype('int64'))

In [31]:
a1.size, a2.size, a3.size

(3, 6, 18)

In [32]:
type(a1), type(a2), type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [33]:
a1

array([1, 2, 3])

In [34]:
a2

array([[1. , 3. , 5.5],
       [4.5, 7. , 8. ]])

In [35]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [36]:
# create a dataframe from numpy array
import pandas as pd

df = pd.DataFrame(a2)
df

     0    1    2
0  1.0  3.0  5.5
1  4.5  7.0  8.0

## 2. Create Numpy arrays

In [37]:
sample_array = np.array([1,2,3])
sample_array

array([1, 2, 3])

In [38]:
sample_array.dtype

dtype('int64')

In [44]:
ones = np.ones((2, 3))

In [45]:
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [46]:
ones.dtype

dtype('float64')

In [47]:
type(ones)

numpy.ndarray

In [49]:
zeros = np.zeros((2, 3))

In [50]:
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

In [51]:
range_array = np.arange(0, 10,2)

In [52]:
range_array

array([0, 2, 4, 6, 8])

In [55]:
random_array = np.random.randint(0,10,size=(3,5))
random_array

array([[6, 2, 4, 2, 3],
       [9, 2, 8, 9, 2],
       [4, 5, 4, 3, 8]])

In [56]:
random_array.size

15

In [57]:
random_array.shape

(3, 5)

In [60]:
random_array_2 = np.random.random(size=(5, 3))
random_array_2

array([[0.78085084, 0.30501963, 0.43442209],
       [0.49735475, 0.62019514, 0.16933062],
       [0.28733215, 0.90320929, 0.16700444],
       [0.76977898, 0.21212909, 0.61914326],
       [0.51486248, 0.7288449 , 0.94961469]])

In [61]:
random_array_2.shape

(5, 3)

In [62]:
random_array_2.size

15

In [63]:
random_array_3 = np.random.rand(5, 3)
random_array_3

array([[0.9473877 , 0.25319839, 0.30053212],
       [0.52706284, 0.88107839, 0.13160298],
       [0.0371685 , 0.46247952, 0.72526018],
       [0.23368177, 0.4414773 , 0.57256659],
       [0.87991257, 0.30160494, 0.17458739]])

In [65]:
#pseudo random arrays
np.random.seed()